@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />


<div class="container body2">
    <div class="text-center">
        <h1 class="display-4" style="border:solid;background-color:burlywood;opacity:0.9">
            @if (ViewBag.sex == "Male")
            {
                @Html.Label("Mój drogi powinieneś spożywać: ")
                @ViewBag.BMR @ViewBag.inf
            }
            else
            {
                @Html.Label("Moja droga, musisz spożywać: ")
                @ViewBag.BMR @ViewBag.inf
            }
    </div>
    </h1>
    <img class="nature2" width="100%" height="500px" src="https://cdn.galleries.smcloud.net/t/galleries/gf-fxmq-9uAR-P3Ab_dieta-1000-kcal-co-mozna-jesc-przykladowy-jadlospis-1920x1080-nocrop.jpg" />
    <img class="nature2" width="100%" height="500px" src="https://www.tapeciarnia.pl/tapety/normalne/65162_sexy_facet_klata_spodnie.jpg" />
    <img class="nature2" width="100%" height="500px" src="https://bi.im-g.pl/im/af/e1/ff/z16769455IH,plaski-brzuch.jpg" />
    <img class="nature2" width="100%" height="500px" src="https://cdn.galleries.smcloud.net/t/galleries/gf-mLmD-Jcv6-qLbv_cwiczenia-na-kaloryfer-7-najlepszych-cwiczen-na-miesnie-brzucha-twarde-jak-stal-1920x1080-nocrop.jpg" />
    <img class="nature2" width="100%" height="500px" src="https://s1.1zoom.me/big0/376/Fitness_Workout_Window_583784_1280x853.jpg" />

</div>

<script src="https://www.w3schools.com/lib/w3.js"></script>


<script>
    w3.slideshow(".nature2", 2500);
</script>
